*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-box{
    padding: 15px;
    border: 2px solid black;
}
.line{
    border: 2px solid black;
    margin: 35px;
}
h2{
    margin: 6px 0;
    font-weight: 600;
}
.title{
    font-size: 15px;
    font-style: italic;
    color: green;
}
.personal-box{
    margin: 15px 0;
}
.skills-box{
    margin: 15px 0;
}
.each-header{
    color: green;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.edu-box{
    margin: 15px 0;
}
.social-box{
    margin: 15px 0;
}